@{
    ViewData["Title"] = "Hakkımızda";
}

@await Html.PartialAsync("_navbar")

<div class="container my-5 p-4 bg-light rounded shadow-sm col-md-6">
    <h2 class="text-black">Vizyonumuz</h2>
    <p>
        Müşterilerimize en iyi alışveriş deneyimini sunmak,
        yenilikçi çözümlerle e-ticaret sektöründe lider bir marka olmak.
    </p>

    <h2 class="text-black">Misyonumuz</h2>
    <p>
        Kaliteli ürünleri uygun fiyatlarla sunarak,
        herkes için erişilebilir bir alışveriş platformu oluşturmak.
        Teknolojik altyapımızla müşteri memnuniyetini en üst düzeyde tutmak.
    </p>
</div>

@await Html.PartialAsync("_footer")