@{
    ViewData["Title"] = "Kategoriler";
}

@await Html.PartialAsync("_navbar")

<!-- Bootstrap Kategori Bölümü -->
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="row justify-content-center w-100">
        <div class="col-md-5">
            <div class="card text-center plastik">
                <div class="card-body">
                    <h2 class="card-title">Plastik</h2>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card text-center aluminyum">
                <div class="card-body">
                    <h2 class="card-title">Alüminyum</h2>
                </div>
            </div>
        </div>
    </div>
</div>
